<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>好吃鲜生</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://ovhjj2x39.bkt.clouddn.com/fruit_icon2.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <script src="//vuejs.org/js/vue.min.js"></script>
    <script src="//unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
    <script src="http://ovhjj2x39.bkt.clouddn.com/echarts.common_3x.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <style>
        body{
            background-color: #f8f9fb;
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>